.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  justify-self: center;
}

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.memberButtons {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 10px;
}