.dropdownContainer {
  flex: 1;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdownButton {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownArrow {
  margin-left: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
}

.optionsList {
  max-height: 420px;
  overflow-y: auto;
}

.clearButton {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.selectOnlyButton {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  color: #0066cc;
  border: none;
  padding: 0;
  cursor: pointer;
}

.optionContainer {
  display: flex;
}

.optionLabel {
  display: flex;
  align-items: center;
  padding: 10px;
}

.optionLabel input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionLabel input[type="checkbox"]:checked {
  background-color: #0066cc;
  border-color: #0066cc;
}

.optionLabel input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
