---
export const prerender = false
import Layout from "../layouts/Layout.astro";
import { Content as AboutUs } from "../content/about.md";
---

<Layout title="About us">
    <div class="container">
        <AboutUs />
    </div>
</Layout>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }
</style>

