---
import Layout from "../layouts/Layout.astro";
import { UserDashboard } from "../components/UserDashboard";
---

<script>
  async function checkAuth() {
    try {
      const response = await fetch("/api/user");
      if (!response.ok) {
        window.location.href = "/signin";
      }
    } catch (error) {
      console.error("Error checking authentication:", error);
      window.location.href = "/signin";
    }
  }

  checkAuth();
</script>

<Layout title="Dashboard" signedIn={true}>
  <h1>Welcome</h1>
  <div style={{ paddingTop: "20px" }}>
    <UserDashboard client:load />
  </div>
</Layout>
