---
export const prerender = false
import Layout from "../layouts/Layout.astro";
import { createServerClient, parseCookieHeader } from "@supabase/ssr";
import { calculateTotalBonusPoints, calculateVendorPoints } from "../helpers/calculations";
import { VendorChart } from "../components/VendorChart";
import type { Transaction } from "../models/transaction";

const { cookies, request } = Astro;
const supabase = createServerClient(
    import.meta.env.SUPABASE_URL,
    import.meta.env.SUPABASE_KEY,
    {
      cookies: {
        getAll() {
          return parseCookieHeader(request.headers.get("Cookie") ?? "");
        },
        setAll(cookiesToSet) {
          cookiesToSet.forEach(({ name, value, options }) =>
            cookies.set(name, value, options)
          );
        },
      },
    }
);

const { data: userData } = await supabase.auth.getUser();

let userId = userData?.user?.id ?? "e46ea82e-d1be-4f1e-afaf-dc6fb7610d18";
if (!userId) {
  return redirect("/signin");
}

const { data: transactionsData} = await supabase.from("transactions").select("*").eq("user_id", userId).order("date", { ascending: true });
const { data: airlinesData} = await supabase.from("airlines").select("*");

const transactions : Transaction[] = transactionsData ?? [];
const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long' };
const startDate = transactions.length > 0 ? new Date(transactions[0].date).toLocaleDateString('en-US', options) : '';

const sum = calculateTotalBonusPoints(transactions);

const vendorPoints = calculateVendorPoints(transactions);

const isLoggedIn = !!userId;
---
<Layout title="Dashboard" isLoggedIn={isLoggedIn}>
  <h1>Welcome </h1>
  <p>Your have earned a total of {sum.toLocaleString()} eurobonus points{startDate ? " since " + startDate : ''}.</p>

  <h2>Vendors</h2>
  <VendorChart vendorPoints={vendorPoints} client:load/>
</Layout>