---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import SignInForm from "../components/auth/SignInForm";
---

<Layout title="Sign In">
  <div class="signin-container">
    <SignInForm />
  </div>
</Layout>

<style>
  .signin-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 50px;
    background-color: white;
  }
</style>
