---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import SignInForm from "../components/auth/SignInForm";
import { createServerClient, parseCookieHeader } from "@supabase/ssr";

const { cookies, request, redirect } = Astro;

const supabase = createServerClient(import.meta.env.SUPABASE_URL, import.meta.env.SUPABASE_KEY, {
  cookies: {
    getAll() {
      return parseCookieHeader(request.headers.get("Cookie") ?? "");
    },
    setAll(cookiesToSet) {
      cookiesToSet.forEach(({ name, value, options }) => cookies.set(name, value, options));
    },
  },
});

const { data } = await supabase.auth.getSession();

if (!!data.session) {
  return redirect("/dashboard");
}
---

<Layout title="Sign In">
  <div class="signin-container">
    <SignInForm />
  </div>
</Layout>

<style>
  .signin-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 50px;
    background-color: white;
  }
</style>
