<footer>
  &copy; 2025 EuroBonus Charts. All rights reserved.

  <p>
    <a href="mailto:eurobonuscharts@gmail.com">Contact us</a> &emsp;
    <a href="/changelog">Changelog</a> &emsp;
    <a href="/policy">Privacy Policy</a>
  </p>
</footer>

<style>
  footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
  }
</style>
