<footer>
  <p>&copy; 2025 Eurobonus Charts. All rights reserved.</p>
  <a href="/showcase" style="color: #fff; margin-left: 10px;">Demo</a>
</footer>

<style>
  footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: auto;
  }
</style>
