<footer>
  &copy; 2025 EuroBonus Charts. All rights reserved. <a href="/policy">Privacy Policy</a>
  <p>Email: <a href="mailto:eurobonuscharts@gmail.com">eurobonuscharts@gmail.com</a></p>
</footer>

<style>
  footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
  }
</style>
